* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #0D0D0D;
    --white: #F5FBF2;
    --light-green: #00DD9C;
    --dark-green: #09251E;
    --dark-green-div: hsla(165, 61%, 9%, 0.4);
    --default-ff: 'Montserrat', sans-serif;
    /* font-size: 62.25%; */
}

body {
    background: var(--bg-color);
}

h1,
h2,
p,
ul,
li {
    font-family: var(--default-ff);
    color: var(--white);
}

main {
    max-width: 100rem;
    margin: auto;
}

.bgImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(13, 13, 13, 0) 13.65%, #0D0D0D 93.29%), url(assets/bgImage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

header {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.green-div {
    background: var(--dark-green-div);
    border-radius: 10rem;
    padding: 0 3rem;
    margin: 0 3rem;
}

nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 6rem;
}

span {
    color: var(--light-green);
}

ul {
    list-style: none;
    min-width: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul li {
    cursor: pointer;
}

ul li:hover {
    color: var(--light-green);
    border-bottom: 4px solid #00DD9C;
    border-radius: 2px;
    padding-bottom: 8px
}

button {
    width: 21rem;
    height: 4rem;
    border: none;
    background-color: var(--light-green);
    font-family: var(--default-ff);
    color: var( --bg-color);
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 24px #00E3A5;
    border-radius: 5px;
}

.home {
    width: 100%;
}

.apresentation {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.apresentation img {
    width: 630px;
}

.wrapper p {
    margin-bottom: 1.6rem;
    font-size: 18px;
}

.wrapper h2 {
    margin-bottom: 7.2rem;
    font-size: 42px;
}